How to print "Hello World" in Python.

In [3]:
# this Jupyter Notebook is used to demonstrate simple Python instructions

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Goodbye World!")

Goodbye World!

In [ ]:
# commenting is done with the 'pound' sign

# general rules
# 1. add a comment to the top of code to describe what the program is doing

In [4]:
"""This is a docstring

    This is a multiple line comment block.

    It allows any comments between the three quotes.

"""

'This is a docstring\n\n    This is a multiple line comment block.\n\n    It allows any comments between the three quotes.\n\n'

In [5]:
# the basic output
print("You can print text in quotation marks.")

You can print text in quotation marks.

In [7]:
# comma separated text output
# commas will add spaces automatically
print("This is", "comma separated")

This is comma separated

In [9]:
# outputting numbers
print("This is a number:", 123, 3.14159)

This is a number: 123 3.14159

In [10]:
# variables?
name = "Brian Shewan"
print("Name:", name)

Name: Brian Shewan

In [11]:
text = "some text"
integer = 123
decimal = 3.14159
boolean = True
print(text, integer, decimal, boolean)

some text 123 3.14159 True

In [12]:
string1 = "a "
string2 = "concatenated "
string3 = "string"
complete = string1 + string2 + string3
print(complete)

a concatenated string

In [13]:
num1 = 1
num2 = 2
num3 = 3
total = num1 + num2 + num3
print(total)

6

In [14]:
# constants are "declared" with capital "SNAKE_CASE"
PI = 3.14159
MAX_VALUE = 999
PI = 3 # OOPS! Constants can be changed....

In [17]:
# yep, we can do math too
addition = 1 + 2
subtraction = 5 - 3
multiplication = 3 * 2
division = 10 / 5
integer_division = 10 // 5
mod_division = 10 % 5
print("add:", addition)
print("sub:", subtraction)
print("mult:", multiplication)
print("div:", division)
print("int div:", integer_division)
print("mod div:", mod_division)

add: 3
sub: 2
mult: 6
div: 2.0
int div: 2
mod div: 0

In [19]:
# printing formatted numbers
dec_num = 123.456789
print("dec_num:", format(dec_num, '.3f'))

dec_num: 123.457

In [22]:
print(format(dec_num, '.3f') + "%")

123.457%

In [26]:
# string formatting
street_num = 123
street_address = "anywhere dr"
# comma method
print("My address is", street_num, street_address, ".")

My address is 123 anywhere dr .

In [27]:
# using formatted strings
print("My street address is {0} {1}.".format(street_num, street_address))

My street address is 123 anywhere dr.

In [28]:
# f-string method
print(f"My street address is {street_num} {street_address}.")

My street address is 123 anywhere dr.

In [30]:
# old method
print("My address is %d %s." % (street_num, street_address))

My address is 123 anywhere dr.

In [34]:
# default print adds a carriage return
print("Hello")
print("World!")
print("Hello", end=' ') # changes carriage return to a space
print("World")

Hello
World!
Hello World

In [35]:
# add more carriage returns
print("Hello\nWorld!")

Hello
World!

In [36]:
# add tab characters
print("Hello\tWorld")

Hello	World

In [41]:
# escaping characters
print("\"This is a quote\"")
print('"This is a quote"')
print(f"This has place holders {street_address}")
print('This has no place holders {street_address}')

"This is a quote"
"This is a quote"
This has place holders anywhere dr
This has no place holders {street_address}

In [48]:
# converting between data types
num = 123
print("num: " + str(num))
print(num + int("5"))
print(num + float("3.14159"))

num: 123
128
126.14159

In [52]:
# get input from the user
# "input" always returns a string
val = input("Enter a number:")
val

'123'

In [61]:
# bitwise operators

bin1 = int('11111111',2)
bin2 = int('10011011',2)

# AND
print(f"AND: {bin1 & bin2:08b}")

# OR
print(f"OR:  {bin1 | bin2:08b}")

# XOR
print(f"XOR: {bin1 ^ bin2:08b}")

# NOT
print(f"NOT: {~bin1:08b}")

# SHL
print(f"SHL: {bin1 << 3:08b}")

# SHR
print(f"SHR: {bin1 >> 3:08b}")

AND: 10011011
OR:  11111111
XOR: 01100100
NOT: -100000000
SHL: 11111111000
SHR: 00011111

In [63]:
# ASCII

# convert from integer to ASCII
print(chr(70))

# convert from ASCII to integer
print(ord('F'))

F
70

In [65]:
# hexadecimal numbers
# 0-9, A-F

# convert from decimal to hexadecimal
print(f"123 = {hex(123)}")

# convert from hexadecimal to decimal
print(f"0x7b = {int('0x7b',16)}")

123 = 0x7b
0x7b = 123

In [66]:
# floating point numbers?

float = 123.456

# floating point numbers use IEEE-754 format
# to convert the decimal value to an integer

In [67]:
# replication operator
"Hello " * 5

'Hello Hello Hello Hello Hello '

In [70]:
from math import cos

cos(PI/2)

0.0707372016677029